.header-wrapper {
    flex-wrap: wrap;
    justify-content: left;
}

.header-message {
    font-family: 'Syne', sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-align: left;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size: 40px;
}