.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 75px;
    margin-top: 5em;
    margin-bottom: 5em;
}

.project-image {
    flex: 1 1 auto;
    width: 45%;
    border-radius: 20px;
    transition: 0.3s ease-in-out all;
}

.project-image:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out all;
}


.projec-info {
    flex: 1 1 auto;
}

.project-title {
    font-family: 'Inter', sans-serif;
    line-height: 5px;
    font-size: 28px;
    font-weight: 400;
}

.description{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: gray;
}

.btn-project {
    margin-top: 1em;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    padding: 13px;
    background-color: black;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    width: fit-content;
    transition: 0.2s ease-in-out all;
    text-decoration: none;
}

.btn-project:hover {
    margin-top: 1em;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    padding: 13px;
    background-color: white;
    border-radius: 30px;
    color: black;
    width: fit-content;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    transition: 0.2s ease-in-out all;
    text-decoration: none;
}
