.section-wrapper {
    flex-wrap: wrap;
    justify-content: left;
}

.section-title {
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.section-subtitle {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
}

