.section-wrapper {
    flex-wrap: wrap;
    justify-content: left;
}

.section-title {
    font-family: 'Syne', sans-serif;
    font-size: 45px;
    font-weight: 400;
}

.skills-title {
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

