.header-wrapper {
    flex-wrap: wrap;
    justify-content: left;
}

h1 {
    color:black;
    font-family: 'Syne', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 50px;
    transition: 0.7s ease-in-out all;
}

h1:hover {
    color: goldenrod;
}

