nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    backdrop-filter: blur(175px);
    -webkit-backdrop-filter: blur(175px);
}

.site-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.navigation-links ul {
    display: flex;
    gap: 40px;
}

.navigation-links ul li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#max {
    width: 1280px;
}