.nav-back {
    z-index: 999;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.navigation-links ul {
    display: flex;
    gap: 40px;
}

.navigation-links ul li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
}


#max {
    max-width: 1280px;
}

@media (max-width: 768px) {


    #hidden {
        display: none;
        transition: all ease-in-out 0.3s;
    }

    #open {
        display: 'flex';
    }

    .navigation-links ul {
        gap: 5px;
    }
    
}